---
title: "Managed and Operated Kubernetes"
abstract: "Automated container deployment, scaling, and management"
cid: home
sitemap:
  priority: 1.0
---

{{< blocks/cover title="Netic Kubernetes: Managed and operated" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/user" >}}">
		Getting Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Netic offers to operate your containerized application as a service on our operations platform.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Your application and development team – the operations and platform delivered as a service
{{% /blocks/lead %}}


{{< blocks/section color="dark">}}

{{% blocks/feature title="Fully operated and managed" %}}
{{% /blocks/feature %}}

{{% blocks/feature title="Automated CD" %}}
{{% /blocks/feature %}}

{{% blocks/feature title="Full observability" %}}
{{% /blocks/feature %}}

{{< /blocks/section >}}

